<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinaif.king.dao.data.UserRiskDataInfoBeanMapper">
    <resultMap id="BaseResultMap" type="com.sinaif.king.model.finance.data.UserRiskDataInfoBean">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="terminal_id" jdbcType="VARCHAR" property="terminalId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="process_status" jdbcType="INTEGER" property="processStatus"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, terminal_id, user_id, process_status, remark, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_risk_data_info
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByProcessStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_risk_data_info
        where terminal_id=#{terminalId,jdbcType=VARCHAR}
        and process_status=#{processStatus,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user_risk_data_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.sinaif.king.model.finance.data.UserRiskDataInfoBean">
    insert into t_user_risk_data_info (id, terminal_id, user_id, 
      process_status, remark, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{terminalId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{processStatus,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.sinaif.king.model.finance.data.UserRiskDataInfoBean">
        insert into t_user_risk_data_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="terminalId != null">
                terminal_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="processStatus != null">
                process_status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="terminalId != null">
                #{terminalId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="processStatus != null">
                #{processStatus,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sinaif.king.model.finance.data.UserRiskDataInfoBean">
        update t_user_risk_data_info
        <set>
            <if test="terminalId != null">
                terminal_id = #{terminalId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="processStatus != null">
                process_status = #{processStatus,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sinaif.king.model.finance.data.UserRiskDataInfoBean">
    update t_user_risk_data_info
    set terminal_id = #{terminalId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      process_status = #{processStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>